---
interface Props {
  logo: string
  name: string
  phone: string
}

const { logo, name, phone } = Astro.props;

// WhatsApp con mensaje precargado
const mensaje = encodeURIComponent(
  `¡Hola! Me gustaría agendar una cita en ${name}.`
);
const whatsappUrl = `https://wa.me/${phone}?text=${mensaje}`;
---

<section
  id="Hero"
  class="relative flex items-center justify-center min-h-screen text-center px-6 py-20 sm:py-32 overflow-hidden"
>
  <!-- Fondo de logo decorativo -->
  <div
    class="absolute inset-0 -z-10 opacity-10 bg-no-repeat bg-center bg-contain pointer-events-none "
    style={`background-image: url(${logo});`}
    aria-hidden="true"
  ></div>

  <!-- Contenido -->
  <div class="relative z-10 max-w-3xl flex flex-col items-center gap-8">
    <!-- Título -->
    <h1 transition:name="barber-name" class="text-4xl md:text-5xl font-serif font-light text-pretty letter-spacing drop-shadow uppercase animate-blurred-fade-in leading-tight">
      Barbería <br />
      <span class="text-6xl md:text-8xl text-don-gold font-normal">{name}</span>
    </h1>

    <!-- Botón CTA -->
    <a
      href={whatsappUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="mt-6 inline-block px-6 py-3 rounded-lg border border-don-gold text-don-gold animate-slide-out-top text-base md:text-lg font-medium uppercase hover:bg-don-gold hover:text-white transition-all duration-300"
    >
      Reservar cita
    </a>
  </div>
</section>
