---
import { Image } from 'astro:assets'

import NoiseBackground from '@/components/NoiseBackground.astro'
import LayoutBarberia from '@/layouts/LayoutBarberia.astro'
import '@/styles/global.css'
import { El_Templo } from '@barbers'

const { team } = El_Templo
const { id } = Astro.params
const barber = team.find(c => c.id === id)
if (!barber) {
  return Astro.redirect('/404')
}

const { name, image, description, styles, number } = barber
const { url, icon } = El_Templo
---

<LayoutBarberia title={name} summary={description} url={url} icon={icon}>
  <NoiseBackground />
  <main class='flex flex-col items-center justify-center gap-12 min-h-screen px-6 py-16'>
    <article
      class='flex flex-col md:flex-row gap-10 items-center w-full max-w-5xl'
      aria-labelledby='barber-title'
    >
      <!-- Imagen con viewTransition -->
      <Image
        transition:name={`barber-${id}-image`}
        src={image}
        alt={`Foto de ${name}`}
        class='object-cover w-64 h-64 md:w-[25rem] md:h-[25rem] rounded-4xl shadow-lg'
        width={500}
        height={500}
      />

      <!-- Información del barbero -->
      <section
        class='flex flex-col gap-6 animate-blurred-fade-in items-center text-center md:text-left'
      >
        <h1
          id='barber-title'
          transition:name={`barber-${id}-name`}
          class='text-don-gold font-bold text-4xl'
        >
          {name}
        </h1>

        <p class='text-pretty max-w-prose text-white/90'>{description}</p>

        <div class='flex gap-6 items-center justify-center text-base'>
          <a href={`tel:${number}`} class='hover:text-don-gold'>{number}</a>
          <a href={`https://wa.me/${number}`} class='hover:text-[#25D366]'>WhatsApp</a>
        </div>

        <div class='flex gap-2 flex-wrap justify-center md:justify-start'>
          {
            styles.map(style => (
              <span class='text-don-gold px-3 py-1 rounded-full bg-don-gold/10 hover:scale-105 transition text-sm'>
                {style}
              </span>
            ))
          }
        </div>

        <a
          href='/Example3#team'
          transition:name='return-to-team'
          class='text_glowing text-sm button px-5 py-3 border border-white rounded-full uppercase transition'
        >
          ← Volver a barberos
        </a>
      </section>
    </article>
  </main>
</LayoutBarberia>

<style>
  html {
    background: #161616;
  }

  .button {
    transition:
      text-shadow 0.5s ease-out,
      box-shadow 0.3s ease-out;
  }

  .button:hover {
    box-shadow: 0 0 10px #fff;
    text-shadow: 1px 1px 20px #fff;
  }
</style>
