---
import '@/styles/global.css'

import Layout2 from "@/layouts/LayoutBarberia.astro"

import NoiseBackground from '@/components/NoiseBackground.astro'
import Header from '@/sections/Header.astro'
import Footer from '@/sections/Footer.astro'
import About from '@/sections/About.astro'
import Team from '@/sections/Team.astro'

import Hero from '@sections2/Hero.astro'
import Service from '@sections2/Service.astro'
import Location from '@sections2/Location.astro'

import { El_Templo } from "@barbers"
const { name,
    label,
    phone,
    location,
    logo,
    about,
    summary,
    icon,
    socialMedia,
    url,
    team,
    services
} =     El_Templo

const { address, google_link, maps } = location
const { citas, seguidores } = about.numbers
---

<Layout2 title={`${name} - ${label}`} summary={summary} url={url} icon={icon}>
    <NoiseBackground />

    <Header name={name} phone={phone} />
    
    <main>
        <Hero name={name} label={label} phone={phone}>
            Expertos en cortes clásicos y modernos, arreglo de barba y tratamientos premium para hombres en Puebla.
        </Hero>
        <About name={name} citas={Number(citas)} seguidores={Number(seguidores)}/>
        <Team team={team}/>
        <Service services={services} name={name} phone={phone}/>
        <Location location={location}/>
    </main>

    <Footer name={name} phone={phone} socialMedia={socialMedia} google_link={google_link} url={url}>
        <p slot="direction">{address}</p>
    </Footer>
</Layout2>

<style>
    html {
        background: #1B1B1B;
    }
</style>