---
interface Props {
    title?: string
    description?: string
    price?: string
    discount?: string
    benefits?: string[]
}

const { title, description, benefits, price, discount} = Astro.props

const priceClass = discount === 'month' ? 'text-white text-4xl bling' : 'text-don-gold'

let spanClass = 'col-span-10'
if (discount === 'student') {
    spanClass = 'col-span-6 lg:col-span-6'
} else if (discount === 'month') {
    spanClass = 'col-span-10'
} else {
    spanClass = 'col-span-5 lg:col-span-4'
}

---

<article class={`
    relative rounded-xl
    backdrop-blur-md
    border border-black/10
    shadow-inner shadow-white/10
    overflow-hidden
    group
    col-span-10
    ${spanClass}
`}>
    <div class="absolute bottom-0 top-0 z-10 h-full w-full
    bg-black/50">
    </div>

    <slot name="image" />

    <div class="relative z-20 flex h-full select-none flex-col justify-end gap-1 p-4 text-lg md:p-6">
        <h3 class="font-bold text-don-gold mb-4 text-balance text-3xl uppercase">
            {title}
        </h3>

        <p class="max-w-xl text-base md:text-lg">
            {description}
        </p>
        <ul class="grid grid-cols-2">
            {
                benefits?.map((benefit) => (
                    <li>
                        <p>✅ {benefit}</p>
                    </li>
                ))
            }
        </ul>
        <p class="text-balance">
            <strong class={priceClass}>${price} mxn</strong>
            {discount === 'student' && <span class="text-don-gold"> (Con descuento para estudiantes)</span>}
        </p>
    </div>
</article>