---
import LeafletMap from "@components3/LeafletMap.jsx";

const { location, phone, email } = Astro.props as {
    phone: string
    email: string
    location: {
        address: string
        google_link: string
        maps: {
            lat: number
            lng: number
            zoom: number
        }
        openingHours: {
            monday_friday: string
            saturday: string
            sunday: string
        }
    }
}

const { address, google_link, openingHours, maps } = location

---

<section id="contact" class="max-w-6xl mx-auto my-24 flex flex-col gap-7">
    <h3 class="text_glowing text-fenix-accent font-bold text-xl uppercase">
        Contacto
    </h3>
    <h2 class="text_glowing don font-bold text-4xl text-center text-[#6d9484]">
        Ubicación y Horario
    </h2>

    <div class="flex gap-7 items-center">
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2 items-center">
                <h3 class="text_glowing don font-bold text-2xl text-[#6d9484]">Información de Contacto</h3>
                <p>{address}</p>
                <a href={`tel:${phone}`} class="hover:text-don-gold">
                    {phone}
                  </a>
                <a href={`https://wa.me/${phone}`} class="hover:text-[#25D366]">
                    WhatsApp
                </a>
                <a href={`mailto:${email}`} class="hover:text-don-gold">
                    {email}
                </a>
                
                <div class="flex justify-center items-center gap-10">
                    <a href="#" class="hover:text-blue-600">Facebook</a>
                    <a href="#" class="hover:text-red-500">Instagram</a>
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <h3 class="text_glowing don font-bold text-2xl text-[#6d9484]">Horario de Atención</h3>
                <p class="text-pretty">Lunes a Viernes: <strong>{openingHours.monday_friday}</strong></p>
                <p class="text-pretty">Sábado: <strong>{openingHours.saturday}</strong></p>
                <p class="text-pretty">Domingo: <strong>{openingHours.sunday}</strong></p>
            </div>
        </div>

        <!-- Mapa con Leaflet -->
        <!-- Cargamos sólo en cliente: -->
        <div class="flex flex-col gap-2 w-full">
            <a href={google_link} target="_blank" rel="noopener noreferrer" class="hover:text-don-gold text-center">Ver en Google Maps</a>
            <LeafletMap client:load lat={maps.lat} lng={maps.lng} zoom={maps.zoom} markerText="El Templo Barbería" />
        </div>
    </div>
</section>