---
import Locate from "@/components/Icons/Locate.astro";

interface Props {
  barber: string
}

const { barber } = Astro.props

const facebook = barber === "G-Look" ? "glook_barber" : "barberia.donperfecto"
const insta = barber === "G-Look" ? "g_look.barber" : "don.perfecto"
const phone = barber === "G-Look" ? "5560908911" : "5560908911"
const googleMaps = barber === "G-Look" ? "https://maps.app.goo.gl/nfKWnvmTinm7ZjHX6" : "https://maps.app.goo.gl/uufqKeaUr9w5nirP7"
const indexPage = barber === "G-Look" ? "/G-Look-Barber" : "/DonPerfecto-Barber"
---

<footer id="footer" role="contentinfo" class="bg-black  py-10 border-t border-white/10">
  <div class="w-full max-w-screen-xl mx-auto px-6 flex flex-col gap-8">

    <!-- Sección superior -->
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-10">

      <!-- Logo y nombre -->
      <a href={indexPage} class={`flex items-center gap-4 ${barber === "G-Look" ? "hover:text-sisal-600" : "don hover:text-don-gold"} transition-colors`}>
        <img src={`/images/${barber}-Logo.webp`} alt="Logo de {barber}" class="w-14 h-14 rounded-full shadow" />
        <span class={`text-2xl font-bold uppercase ${barber === "G-Look" ? "" : "don"}  transition-colors`}>{barber}</span>
      </a>

      <!-- Dirección con ícono -->
      <a 
        href={googleMaps}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2 hover:text-sisal-400 transition text-center justify-center"
      >
        <Locate />
        <span class="text-sm leading-snug">
          <slot name="direction" />
        </span>
      </a>

      <!-- Redes sociales -->
      <div class="flex gap-6 text-sm justify-center">
        <a href={`https://www.facebook.com/${facebook}`} target="_blank" rel="noopener noreferrer" class="hover:text-[#1877F2] transition">
          Facebook
        </a>
        <a href={`https://www.instagram.com/${insta}`} target="_blank" rel="noopener noreferrer" class="hover:text-[#EF4B5F] transition">
          Instagram
        </a>
        <a href={`https://wa.me/${phone}`} target="_blank" rel="noopener noreferrer" class="hover:text-[#25D366] transition">
          WhatsApp
        </a>
      </div>
    </div>

    <!-- Separador -->
    <hr class="border-white/10" />

    <!-- Copyright -->
    <p class="text-center text-xs ">
      © 2025 <a href={indexPage} class={`hover:underline font-semibold ${barber === "G-Look" ? "hover:text-sisal-600" : "don hover:text-don-gold"}`}>{barber}™</a>. Todos los derechos reservados.
    </p>
  </div>
</footer>
