---
import HeaderLink from '@/components/HeaderLink.astro';
import MenuHeader from '@/components/MenuHeader.astro';
import MobileMenu from '@/components/MobileMenu.tsx';

interface Props {
  name: string
  phone: string 
  url: string
}

const { name, phone, url } = Astro.props

// Mensaje precargado (encodeado)
const message = encodeURIComponent(
  `춰Hola! 游녦 Me gustar칤a reservar el d칤a ___ para un servicio con ${name}. 쯇odr칤an brindarme m치s informaci칩n?`
);

const whatsappUrl = `https://wa.me/${phone}?text=${message}`

const typeLetter = name === "Don Perfecto" ? "don" : ""

---
<header id="header-nav" role="banner" class="fixed top-0 w-full px-6 py-4 z-50 bg-transparent">
  <div class="max-w-7xl mx-auto flex items-center justify-between gap-6 lg:gap-16">

    <!-- Logo -->
    <HeaderLink checkActive={false} href={url} aria-label="Inicio">
      <h1 class={`md:text-3xl font-bold text_glowing transition ${typeLetter}`}>{name}</h1>
    </HeaderLink>

    <!-- Men칰 de escritorio -->
    <MenuHeader />

    <!-- Bot칩n cita desktop -->
    <a
      href={whatsappUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="text_glowing
                    text-sm 
                    button
                    w-fit
                    font-medium
                    no-underline
                    px-5
                    py-3
                    border
                    border-solid
                    border-white
                    rounded-full
                    uppercase
                    text-pretty">
      Realizar cita
    </a>

    <!-- Men칰 m칩vil -->
    <MobileMenu client:only="preact" />
  </div>
</header>

<style>
  .button {
    transition:
      text-shadow 0.5s ease-out,
      box-shadow 0.3s ease-out;
  }

  .button:hover {
    box-shadow: 0 0 10px #fff;
    text-shadow:
      1px 1px 20px #fff;
  }
</style>